<div class="login-block">
    <h1 class="home-lobo">Lobo: <small>Todo Line Bot</small></h1>
    <a href="<%= user_line_omniauth_authorize_path %>" class="login-btn"><span class="login-text">Log in</span></a>
</div>