<h1 class="lb-todo__title">Lobo - TODO List</h1>

<div class="lb-todos-container">
    <div id="todo-list" class="lb-todos-block">
        <div class="lb-todo__group-title">Todo</div>
        <% @todos.each do |todo| %>
            <div class="lb-todo" data-task-id="<%= todo.id %>" data-due-date="<%= todo.due_date.strftime('%s') %>" data-pinned="<%= todo.is_pinned %>">
                <%= check_box("", "", { :checked => todo.is_done, :class => "lb-todo__check-box", "todo-action": "done" }) %>
                <div class="lb-todo__task" contenteditable="true" todo-action="update-task"><%= todo.task %></div>
                <div class="lb-todo__due-date">
                    <div class="lb-todo__datetime" contenteditable="true">
                        <%= todo.due_date.strftime("%d/%m/%y") %><br />
                        <%= todo.due_date.strftime("%l:%M%p") %>
                    </div>
                    <input type="text" class="lb-todo__datepicker">
                </div>
                <%= check_box("", "", { :checked => todo.is_pinned, :class => "lb-todo__check-box lb-todo__check-box--pin", "todo-action": "pin" }) %>
                <div class="lb-todo__drag"></div>
            </div>
        <% end %>
    </div>

    
    <div id="done-list" class="lb-todos-block">
        <div class="lb-todo__group-title">Completed</div>
        <% @done_todos.each do |todo| %>
            <div class="lb-todo" data-task-id="<%= todo.id %>" data-due-date="<%= todo.due_date.strftime('%s') %>" data-pinned="<%= todo.is_pinned %>">
                <%= check_box("", "", { :checked => todo.is_done, :class => "lb-todo__check-box", "todo-action": "done" }) %>
                <div class="lb-todo__task" contenteditable="true" todo-action="update-task"><%= todo.task %></div>
                <div class="lb-todo__due-date">
                    <div class="lb-todo__datetime">
                        <%= todo.due_date.strftime("%d/%m/%y") %><br />
                        <%= todo.due_date.strftime("%l:%M%p") %>
                    </div>
                    <input type="text" class="lb-todo__datepicker">
                </div>
                <%= check_box("", "", { :checked => todo.is_pinned, :class => "lb-todo__check-box lb-todo__check-box--pin", "todo-action": "pin" }) %>
                <div class="lb-todo__drag"></div>
            </div>
        <% end %>
    </div>
</div>


<script>
    $(document).ready(() => {
        $('.lb-todo__datepicker').datetimepicker({
            format: 'd/m/y g:iA',
            step: 15
        }).on('change.dp', (e) => {
            $target = $(e.target);
            newDueDate = $target.val();
            if (newDueDate) {
                $target.siblings('.lb-todo__datetime').text(newDueDate)
            }
        }).on('blur', (e) => {
            $todo = $(e.target).parents('[data-task-id]')
            let id = $todo.data('task-id')
            let dueDate = $(e.target).val();

            if (!dueDate) {
                return true;
            }

            let data = {
                todo: {
                    id: id,
                    due_date: dueDate
                }
            }
            updateTodo("due_date", data)
        })

        $('.lb-todo__datetime').on('click', (e) => {
            $target = $(e.target);
            $target.siblings('.lb-todo__datepicker').datetimepicker('show');
        })
        

        var updateTodo = (type, data) => {
            $.ajax({
                method: 'POST',
                url: `/api/todos/${data.id}/${type}`,
                data: data
            })
        }
        
        var sortTodo = ($container) => {
            $todos = $container.find('.lb-todo')
            $sortedTodos = $todos.sort((aTodo, bTodo) => {
                let aPin = $(aTodo).data('pinned');
                let bPin = $(bTodo).data('pinned');
                if (aPin != bPin) {
                    if (aPin) return -1;
                    else return 1;
                }

                let aDate = $(aTodo).data('due-date');
                let bDate = $(bTodo).data('due-date');

                let aId = $(aTodo).data('task-id');
                let bId = $(bTodo).data('task-id');
                if (aDate == bDate) return aId > bId ? 1 : -1;
                return aDate > bDate ? 1 : -1;
            })
            $sortedTodos.detach();
            $sortedTodos.appendTo($container);
        }


        $('[todo-action="update-task"]').on('blur', (e) => {
            let id = $(e.target).parents('[data-task-id]').data('task-id')
            let task = $(e.target).text().trim();
            $(e.target).text(task);

            let data = {
                todo: {
                    id: id,
                    task: task
                }
            }
            updateTodo("task", data)
        });

        $('[todo-action="done"]').on('change', (e) => {
            $todo = $(e.target).parents('[data-task-id]')
            let id = $todo.data('task-id')
            let isDone = $(e.target).prop('checked');

            if (isDone) {
                $targetContainer = $('#done-list')
            } else {
                $targetContainer = $('#todo-list')
            }

            $todo.detach();
            $todo.appendTo($targetContainer);
            sortTodo($targetContainer);
            
            let data = {
                todo: {
                    id: id,
                    is_done: isDone
                }
            }
            updateTodo("done", data)
        })

        

        $('[todo-action="pin"]').on('change', (e) => {
            $todo = $(e.target).parents('[data-task-id]')
            let id = $todo.data('task-id')
            let isPinned = $(e.target).prop('checked');

            let data = {
                todo: {
                    id: id,
                    is_pinned: isPinned
                }
            }
            updateTodo("pinned", data)
            console.log(e.target)
            $(e.target).parent('.lb-todo').data('pinned', isPinned);
            $container = $(`#${$(e.target).parents('.lb-todos-block').prop('id')}`)
            console.log($(e.target).parents('.lb-todos-block').prop('id'))
            sortTodo($container);
        })
    })
</script>