// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
    margin: 0;
}

.home-lobo {
    margin: 12px 0;
    padding: 0 12px;
    font-size: 20px;
}

.login-block {
    text-align: center;
}

.login-btn {
    display: inline-flex;
    background-color: #00b900;
    align-items: center;
    border-radius: 4px;
    overflow: hidden;
    padding: 0 12px 0 0;
    width: 126px;
    text-decoration: none;
    color: white;

    &:before {
        content: " ";
        background: url(image_path('line-logo.svg')) no-repeat center;
        background-size: contain;
        width: 92px;
        height: 44px;
        display: inline-block;
    }
}

    .login-text {
        display: flex;
        width: 100%;
        justify-content: center;
        font-size: 18px;
    }